################################################################################
### Configure git

- name: "configs : Configure git username"
  community.general.git_config:
    name: user.name
    scope: global
    value: "{{ lookup('env', 'GIT_NAME', default='nobody') }}"

- name: "configs : Configure git email"
  community.general.git_config:
    name: user.email
    scope: global
    value: "{{ lookup('env', 'GIT_EMAIL', default='nobody@example.com') }}"

- name: "configs : Configure git pull/rebase strategy"
  community.general.git_config:
    name: pull.rebase # With rebasing, new commits will be created for the changes on your local branch that start after the changes on the remote branch instead of creating a merge commit.
    scope: global
    value: "true"

- name: "configs : Configure git fetch prune option"
  community.general.git_config:
    name: fetch.prune # This configuration will automatically clean Git objects in your repository locally whenever you fetch changes from remote.
    scope: global
    value: "true"

- name: "configs : Configure git nah alias"
  community.general.git_config:
    name: alias.nah # This alias completely cleans the current repo
    scope: global
    value: '!f(){ echo -n "Are you sure? (y/N) "; read choice; if [[ "$choice" == "y" || "$choice" == "Y" ]]; then git reset --hard; git clean -df; if [ -d ".git/rebase-apply" ] || [ -d ".git/rebase-merge" ]; then git rebase --abort; fi; else echo "Operation canceled"; return 0; fi; }; f'

- name: "configs : Configure git graph alias"
  community.general.git_config:
    name: alias.graph # This alias shows a nice commit graph
    scope: global
    value: "log --oneline --decorate --graph --all"

################################################################################
### Configure zsh & oh-my-zsh

- name: "configs : Set zsh as default shell"
  become: true
  user:
    name: "{{ ansible_user }}"
    shell: "/usr/bin/zsh"
  vars:
    ansible_user: "{{ lookup('env', 'USER') }}"

- block:
    - name: "configs : Install oh-my-zsh - Step 1/2"
      get_url:
        url: https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh
        dest: /tmp/install_ohmyzsh.sh
    - name: "configs : install oh-my-zsh - Step 2/2"
      command: sh /tmp/install_ohmyzsh.sh --unattended
      register: ohmyzsh_result
      failed_when: "'FAILED' in ohmyzsh_result.stderr"

- name: "configs: Install oh-my-zsh plugins"
  git:
    repo: "{{ item.repo }}"
    dest: "{{ item.dest }}"
  loop:
    - repo: "https://github.com/zsh-users/zsh-autosuggestions"
      dest: "{{ ansible_env.HOME }}/.oh-my-zsh/custom/plugins/zsh-autosuggestions"
    - repo: "https://github.com/Aloxaf/fzf-tab"
      dest: "{{ ansible_env.HOME }}/.oh-my-zsh/custom/plugins/fzf-tab"
    # - repo: "https://github.com/zsh-users/zsh-syntax-highlighting"
    #   dest: "{{ ansible_env.HOME }}/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"

################################################################################
### Install Rust

- name: "configs : Install Rust Toolchain"
  shell: |
    rustup-init -y

################################################################################
### Install Starship prompt using cargo

# FIXME: cargo is not in the environment path at this point
- name: "configs : Install Starship Prompt (using cargo)"
  community.general.cargo:
    name: starship
    locked: true

################################################################################
### Suppress podman-docker warning

- name: "configs : Suppress podman-docker warning"
  become: true
  file:
    path: /etc/containers/nodocker
    state: touch
    mode: 644

################################################################################
### Install fonts
### xref: https://github.com/azatecas/add-system-level-fonts-to-fedora-silverblue

- block:
    - name: "configs : Install Google fonts - Step 1/6 (set font list)"
      set_fact:
        google_fonts:
          - "ibmplexsans/IBMPlexSans[wdth,wght].ttf"
          - "ibmplexsans/IBMPlexSans-Italic[wdth,wght].ttf"
          - "ibmplexserif/IBMPlexSerif-Regular.ttf"
          - "ibmplexserif/IBMPlexSerif-Italic.ttf"
          - "inter/Inter[opsz,wght].ttf"
          - "inter/Inter-Italic[opsz,wght].ttf"
          - "lexend/Lexend[wght].ttf"
          - "montserrat/Montserrat[wght].ttf"
          - "montserrat/Montserrat-Italic[wght].ttf"
          - "outfit/Outfit[wght].ttf"
          - "raleway/Raleway[wght].ttf"
          - "raleway/Raleway-Italic[wght].ttf"
          - "spacegrotesk/SpaceGrotesk[wght].ttf"
    - name: "configs : Install Google fonts - Step 2/6 (create target directories)"
      file:
        path: "{{ ansible_env.HOME }}/rpmbuild/SOURCES/google-fonts/{{ item | dirname }}"
        state: directory
      with_items: "{{ google_fonts }}"
    - name: "configs : Install Google fonts - Step 3/6 (download font files)"
      get_url:
        url: "https://github.com/google/fonts/raw/refs/heads/main/ofl/{{ item | urlencode }}"
        dest: "{{ ansible_env.HOME }}/rpmbuild/SOURCES/google-fonts/{{ item }}"
      with_items: "{{ google_fonts }}"
      retries: 3
      delay: 3
    - name: "configs : Install Google fonts - Step 4/6 (create specs directory)"
      file:
        path: "{{ ansible_env.HOME }}/rpmbuild/SPECS/"
        state: directory
    - name: "configs : Install Google fonts - Step 5/6 (prepare rpm package)"
      copy:
        src: "{{ role_path }}/files/rpmfiles/nikos-google-fonts.spec"
        dest: "{{ ansible_env.HOME }}/rpmbuild/SPECS/nikos-google-fonts.spec"
    - name: "configs : Install Google fonts - Step 5/5 (create rpm package)"
      command: "rpmbuild -ba {{ ansible_env.HOME }}/rpmbuild/SPECS/nikos-google-fonts.spec"
    - name: "configs : Install Google fonts - Step 6/6 (install rpm package)"
      become: true
      community.general.rpm_ostree_pkg:
        name: "{{ ansible_env.HOME }}/rpmbuild/RPMS/noarch/nikos-google-fonts-1.0-1.noarch.rpm"
        state: present

- block:
    - name: "configs : Install Nerd Fonts - Step 1/6 (set font list)"
      set_fact:
        nerd_fonts:
          - IBMPlexMono
          - IntelOneMono
          - SpaceMono
          - UbuntuMono
    - name: "configs : Install Nerd Fonts - Step 2/6 (create target directories)"
      file:
        path: "{{ ansible_env.HOME }}/rpmbuild/SOURCES/nerd-fonts/{{ item }}"
        state: directory
      with_items: "{{ nerd_fonts }}"
    - name: "configs : Install Nerd Fonts - Step 3/6 (download font files)"
      unarchive:
        remote_src: true
        src: "https://github.com/ryanoasis/nerd-fonts/releases/download/v3.4.0/{{ item | urlencode }}.tar.xz" # TODO: keep release version up-to-date
        dest: "{{ ansible_env.HOME }}/rpmbuild/SOURCES/nerd-fonts/{{ item }}"
      with_items: "{{ nerd_fonts }}"
      retries: 3
      delay: 3
    - name: "configs : Install Nerd Fonts - Step 4/6 (create specs directory)"
      file:
        path: "{{ ansible_env.HOME }}/rpmbuild/SPECS/"
        state: directory
    - name: "configs : Install Nerd Fonts - Step 5/6 (prepare rpm package)"
      copy:
        src: "{{ role_path }}/files/rpmfiles/nikos-nerd-fonts.spec"
        dest: "{{ ansible_env.HOME }}/rpmbuild/SPECS/nikos-nerd-fonts.spec"
    - name: "configs : Install Nerd Fonts - Step 5/5 (create rpm package)"
      command: "rpmbuild -ba {{ ansible_env.HOME }}/rpmbuild/SPECS/nikos-nerd-fonts.spec"
    - name: "configs : Install Nerd Fonts - Step 6/6 (install rpm package)"
      become: true
      community.general.rpm_ostree_pkg:
        name: "{{ ansible_env.HOME }}/rpmbuild/RPMS/noarch/nikos-nerd-fonts-1.0-1.noarch.rpm"
        state: present

################################################################################
### Copy dotfiles

- name: "configs : Install .zshrc"
  copy:
    src: "{{ role_path }}/files/dotfiles/.zshrc"
    dest: "~/.zshrc"

- name: "configs : Install .vimrc"
  copy:
    src: "{{ role_path }}/files/dotfiles/.vimrc"
    dest: "~/.vimrc"

################################################################################
### Copy user configs

- name: "configs : Copy user configs into ~/.config"
  copy:
    src: "{{ role_path }}/files/dotfiles/.config/{{ item }}"
    dest: "~/.config/"
  with_items:
    - k9s
    - MangoHud
    - mpv
    - pipewire
    - solaar
    - starship.toml
    - uxplayrc

################################################################################
### Configure cron
# TODO: consider using systemd timers instead of cron

- name: "configs : Install cron jobs (daily)"
  become: true
  copy:
    src: "{{ role_path }}/files/cronjobs/daily/{{ item }}"
    dest: "/etc/cron.daily/"
    owner: root
    group: root
    mode: 0755
  with_items:
    - delete-downloads

- name: "configs : Enable cron service"
  become: true
  service:
    name: crond
    enabled: yes

- name: "configs : Start cron service"
  become: true
  service:
    name: crond
    state: started

################################################################################
### Copy (dynamic) wallpapers

- block:
    - name: "configs : Install Wallpapers - Step 1/6 (set background list)"
      set_fact:
        backgrounds:
          - chroma_blue
          - f36
          - f39
          - zelda
    - name: "configs : Install wallpapers - Step 2/6 (copy wallpapers to build directory)"
      copy:
        src: "{{ role_path }}/files/wallpapers/{{ item }}/{{ item }}"
        dest: "{{ ansible_env.HOME }}/rpmbuild/SOURCES/backgrounds/"
      with_items: "{{ backgrounds }}"
    - name: "configs : Install wallpapers - Step 3/6 (create specs directory)"
      file:
        path: "{{ ansible_env.HOME }}/rpmbuild/SPECS/"
        state: directory
    - name: "configs : Install wallpapers - Step 4/6 (prepare rpm package)"
      copy:
        src: "{{ role_path }}/files/rpmfiles/nikos-wallpapers.spec"
        dest: "{{ ansible_env.HOME }}/rpmbuild/SPECS/nikos-wallpapers.spec"
    - name: "configs : Install wallpapers - Step 5/6 (create rpm package)"
      command: "rpmbuild -ba {{ ansible_env.HOME }}/rpmbuild/SPECS/nikos-wallpapers.spec"
    - name: "configs : Install wallpapers - Step 6/6 (install rpm package)"
      become: true
      community.general.rpm_ostree_pkg:
        name: "{{ ansible_env.HOME }}/rpmbuild/RPMS/noarch/nikos-wallpapers-1.0-1.noarch.rpm"
        state: present

################################################################################
### Wayland Fix for Solaar (Logitech Peripherals Manager)
### see: https://pwr-solaar.github.io/Solaar/rules.html

- name: "configs: Solaar Wayland fix"
  become: true
  get_url:
    url: "https://raw.githubusercontent.com/pwr-Solaar/Solaar/master/rules.d-uinput/42-logitech-unify-permissions.rules"
    dest: /etc/udev/rules.d/42-logitech-unify-permissions.rules
    owner: root
    group: root
